<div class="Login">
  <main role="main" class="login">
    <div class="Principal centralizar">
      <div id="textoLogin" class="login" tabindex="0">
        <p id="legenda">RECUPERAR SENHA</p>
      </div>

      <form *ngIf="!submitted" [formGroup]="recuperarForm" (ngSubmit)="onSubmit()" novalidate>
        <label for="email">Digite seu e-mail:</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          aria-describedby="email-error"
        />
        <div class="error-message" id="email-error">
          {{ getErrorMessage() }}
        </div>

        <button class="buton" type="submit" [disabled]="recuperarForm.invalid">
          ENVIAR CÓDIGO
        </button>
      </form>

      <div *ngIf="submitted">
        <p>Seu código de recuperação foi enviado para: <strong>{{ emailEnviado }}</strong></p>
        <p>Para sua segurança, o código irá expirar em: <strong>{{ minutos }}:{{ segundos }}</strong></p>
      </div>
    </div>
  </main>
</div>
