/* ------------ Home main ------------ */

.home-main {
    background-color: #010626;
    color: #fff;
    font-family: "Graduate", Courier, monospace;
    text-align: center;
}

.highlight {
    color: #00aaff;
}

.btn-custom {
    background-color: #8000ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-custom:hover {
    background-color: #6600cc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-container {
    margin-right: 50px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

/* ----------- Sobre nós ------------- */

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.image-container {
    position: relative;
    max-width: 50%;
}

.text-container {
    max-width: 50%;
    padding-left: 20px;
}

.text-container p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* ----------- Equipe Carousel ----------- */

.equipe-section {
    background-color: #010626;
    color: #fff;
    padding: 40px 0;
}

.equipe-section img {
    object-fit: cover;
    border: 4px solid #00aaff;
}

.carousel-item h5 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #00aaff;
}

.carousel-item p {
    font-size: 1rem;
    margin: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #00aaff;
    padding: 10px;
    border-radius: 50%;
}
